Django==2.0.3
SimpleWebSocketServer==0.1.0
certifi==2018.1.18
chardet==3.0.4
django-adminlte==1.2
django-crispy-forms==1.7.2
django-extensions==2.0.6
django-widget-tweaks==1.4.1
gevent==1.2.2
greenlet==0.4.13
idna==2.6
numpy==1.14.2
pytz==2018.3
requests==2.18.4
six==1.11.0
typing==3.6.4
urllib3==1.22
websocket==0.2.1
websocket-client==0.47.0
