{% extends 'adminlte/base.html' %}
{% load brainweb_tags %}

{% block content_header %}
    <section class="content-header">
      <h1>Show Population '{{population.id}}' for species <a href="/species/{{population.species.id}}">{{population.species.name}}</a></h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/populations">Populations</a></li>
        <li class="active">Show</li>
      </ol>
    </section>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Population Status</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-9">
                        <dl class="dl-horizontal">
                            <dt>Created</dt>
                            <dd>{{population.created|date:"d M. H:i" }}</dd>
                            <dt>Updated</dt>
                            <dd>{{population.created|date:"d M. H:i" }}</dd>
                            <br>
                            
                            <dt>Individuals created</dt>
                            <dd>{{population.individuals_created| format_number }}</dd>                            
                            <dt>Individuals alive</dt>
                            <dd>{{population.individuals.count| format_number }}</dd>

                            <br>
                            <dt> fitness evals alive</dt>
                            <dd>{{population.fitness_evaluations  | format_number  }}</dd>
                            <dt> fitness evals total</dt>
                            <dd>{{population.fitness_evaluations_total  | format_number  }}</dd>                            
                            <dt> avg Fitness evals</dt>
                            <dd>{{population_stats.avg_fitness_evaluations  | format_number  }}</dd>                          
                              
                            <dt>Rel. Fitness</dt>
                            <dd>{{population.fitness_relative  |floatformat:2  }}</dd>                               
                            <dt>Avg. Fitness</dt>
                            <dd>{{population_stats.avg_fitness  |floatformat:4  }}</dd> 
                            <dt>Best Fitness</dt>
                            <dd>{{population.best_individual_fitness }}</dd>                    
                            <dt>Best Id</dt>
                            <dd>{{population.best_individual_id }}</dd>
                                                     
                            <br>
                            <dt> timespend alive</dt>
                            <dd>{{population.timespend   |format_uS2time  }}</dd>
                            <dt> timespend total</dt>
                            <dd>{{population.timespend_total   |format_uS2time }}</dd>
                            
                            <br>                           

                            <dt>Avg. Program steps </dt>
                            <dd>{{population_stats.avg_program_steps  | format_number }}</dd>
                            <dt>Avg. Memory usage</dt>
                            <dd>{{population_stats.avg_memory_usage  | format_number }}</dd>
                            <dt>Avg. perm. Memory usage</dt>
                            <dd>{{population_stats.avg_memory_size  | format_number }}</dd>                            
                            <dt>Avg. Execution time</dt>
                            <dd>{{population_stats.avg_execution_time  |format_uS2ms }} ms</dd>
                      
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Species Limits</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-9">
                        <dl class="dl-horizontal">
                            <dt>usePriorKnowledge</dt>
                            <dd>{{population.species.usePriorKnowledge}}</dd>
                            <dt>useP2P</dt>
                            <dd>{{population.species.useP2P}}</dd>
                            <br>
                            <dt>Max populations</dt>
                            <dd>{{population.species.max_populations | format_number}}</dd>
                            <dt>Max population size</dt>
                            <dd>{{population.species.max_populationsize | format_number}}</dd>
                            <br>
                            <dt>Min code length</dt>
                            <dd>{{population.species.min_code_length | format_number}}</dd>
                            <dt>Max code length</dt>
                            <dd>{{population.species.max_code_length | format_number}}</dd>
                             <dt>Max compiled code length</dt>
                            <dd>{{population.species.max_compiled_code_length | format_number}}</dd>
                                       
                            <br>
                            <dt>Min fitness evals</dt>
                            <dd>{{population.species.min_fitness_evaluations | format_number}}</dd>
                            <dt>Max fitness evals</dt>
                            <dd>{{population.species.max_fitness_evaluations | format_number}}</dd>
                
             
             
                            <br>
                            <dt>Max steps</dt>
                            <dd>{{population.species.max_steps | format_number}}</dd>                                                
                            <dt>Max memory</dt>
                            <dd>{{population.species.max_memory | format_number}}</dd>                    
                            <dt>Max perm. memory</dt>
                            <dd>{{population.species.max_permanent_memory | format_number}}</dd>                    

                         
                        </dl>
                    </div>
                </div>
            </div>
        </div>        
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Individuals</h3>
                </div>
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                        
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Id</th>
                                            
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> compiler</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> matemutator</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> code size</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> compiled code size</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> memory_size</th>
                                            
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> fitness</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> fitness relative all</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> fitness relative adult</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> fitness_evaluations</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> executions</th>
                                            
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> program_steps_avg</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> memory_usage_avg </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> execution_time_avg (ms)</th>
                                            
                                        </tr>
                                    </thead>
                                    
                                    <tbody>                                    
                                        {% for object in population.individuals.all %}
                                            <tr>
                                                    <td><a href="/individual/{{ object.id }}">{{ object.id }}</a></td>
                                                    
                                                    <td>{{ object.compiler }}</td>
                                                    <td>{{ object.matemutator }}</td>
                                                    <td>{{ object.code_size | format_number}}</td>
                                                    <td>{{ object.code_compiled_size | format_number}}</td>
                                                    <td>{{ object.memory_size | format_number}}</td>

                                                    <td>{{ object.fitness |floatformat:4 }}</td>     
                                                    <td>{{ object.fitness_relative_all |floatformat:2  }}</td>     
                                                    <td>{{ object.fitness_relative_adult |floatformat:2  }}</td>     
                                                    <td>{{ object.fitness_evaluations | format_number }}</td>     
                                                    <td>{{ object.executions | format_number }}</td>     
                                                    
                                                    <td>{{ object.get_program_steps_avg | format_number  }}</td>     
                                                    <td>{{ object.get_memory_usage_avg | format_number  }}</td>     
                                                    <td>{{ object.get_execution_time_avg | format_uS2ms  }} ms</td>     
                                                <td>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>                
          
        
        
        
 
    <div class="row">
        <div class="col-md-12"> 
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Population Stats</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="populationsFitness"></canvas>
                <script>
                        var ctx = document.getElementById('populationsFitness').getContext('2d');
                        var stats =  {{stats |safe  }};
                        var chart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: stats["labels"],
                                datasets: [{
                                    label: "Executions per minute",
                                    backgroundColor: 'rgb(255, 99, 132)',
                                    borderColor: 'rgb(255, 99, 132)',
                                    data: stats["executions"],
                                    fill : false,
                                },
                                {
                                    label: "Fitness Evaluations per minute",
                                    backgroundColor: 'rgb(23, 99, 132)',
                                    borderColor: 'rgb(23, 99, 132)',
                                    data: stats["fitness_evaluations"],
                                    fill : false,
                                },
                                {
                                    label: "Death per minute",
                                    backgroundColor: 'rgb(23, 255, 132)',
                                    borderColor: 'rgb(23, 255, 132)',
                                    data: stats["death"],
                                    fill : false,
                                },
                                {
                                    label: "Individuals created per minute",
                                    backgroundColor: 'rgb(23, 99, 23)',
                                    borderColor: 'rgb(23, 99, 23)',
                                    data: stats["individuals_created"],
                                    fill : false,
                                     
                                },
                                {
                                    label: "Average adult Fitness",
                                    backgroundColor: 'rgb(23, 1, 23)',
                                    borderColor: 'rgb(23, 1, 23)',
                                    data: stats["fitness"],
                                    fill : false,
                                     
                                },
                                {
                                    label: "Max adult Fitness",
                                    backgroundColor: 'rgb(0, 250, 250)',
                                    borderColor: 'rgb(0, 250, 250)',
                                    data: stats["fitness_max"],
                                    fill : false,
                                }],
                            },

                            // Configuration options go here
                            options: {
                              spanGaps: true,
                              scales: {
                                    yAxes: [{
                                        type: 'logarithmic',
                                        position: 'left'
                                    }],
                                    xAxes: [{
                                        type: 'time',
                                        time: {
                                            displayFormats: {
                                                quarter: 'MMM YYYY'
                                            }
                                        }
                                    }]
                                }
                            }
                        });
                </script>
              </div> &
            <!-- /.box-body -->
          </div>
        </div>
        </div> <!-- /col-md-12 -->
    </div> <!-- /row -->    
              
      </div>
      <!-- /.box -->
             
    </div>
        
 </div>
{% endblock %}