{% extends 'adminlte/base.html' %}

{% block content_header %}
    <section class="content-header">
      <h1>Show Problem '{{problem.name}}'</h1>
      <small>some empty description{{problem.description}} <a href="#">Edit Description</a></small>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/problem">Problems</a></li>
        <li class="active">Show</li>
      </ol>
    </section>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Problem </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-9">
                        <dl class="dl-horizontal">
                            <dt>Created</dt>
                            <dd>{{problem.created|date:"d M. H:i" }}</dd>
                            <dt>Updated</dt>
                            <dd>{{problem.created|date:"d M. H:i" }}</dd>
                            <br>
                            
                            <dt>Description</dt>
                            <dd>{{problem.description }}</dd>
                            
                        </dl>
                    </div>
                </div>
            </div>
        </div>   
    </div>



    <div class="row">
        <div class="col-md-12"> 
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Species for this problem</h3>
                </div>
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                        
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Id</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> name</th>
                                            
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> usePriorKnowledge</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> useP2P</th>
                                            
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> max_populations</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> max_populationsize</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> max_code_length</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> min_code_length</th>
                                            
                                            
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">max_memory </th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> max_permanent_memory</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> max_steps</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                                                        
                                        {% for object in problem.species.all %}
                                            <tr>
                                                    <td><a href="/species/{{ object.id }}">{{ object.id }}</a></td>
                                                    <td>{{ object.name }}</td>
                                                    <td>{{ object.usePriorKnowledge }}</td>
                                                    <td>{{ object.useP2P }}</td>
                                                    
                                                    <td>{{ object.max_populations }}</td>
                                                    <td>{{ object.max_populationsize }}</td>
                                                    <td>{{ object.max_code_length }}</td>
                                                    <td>{{ object.min_code_length }}</td>
                                                    
                                                    <td>{{ object.max_memory }}</td>
                                                    <td>{{ object.max_permanent_memory }}</td>
                                                    <td>{{ object.max_steps }}</td>
                                                <td>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>            
        </div> <!-- /col-md-12 -->
    </div> <!-- /row -->
    
    
    <div class="row">
        <div class="col-md-12"> 
          <div class="box">
            <div class="box-header">
                <h3 class="box-title">Reference Functions</h3>
            </div>
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
                                <thead>
                                    <tr role="row">
                                    
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Id</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Name</th>
                                        
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Fitness</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Fitness Sum</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Fitness Evaluations</th>
                                        
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Execution Counter</th>
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Execution Time</th>
                                        
                                        <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Actions</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for object in problem.referencefunctions.all %}
                                        <tr>
                                                <td><a href="/referencefunction/{{ object.id }}">{{ object.id }}</a></td>
                                                <td>{{ object.name }}</td>
                                                
                                                <td>{{ object.fitness }}</td>
                                                <td>{{ object.fitness_sum }}</td>
                                                <td>{{ object.fitness_evaluations }}</td>
                                                
                                                <td>{{ object.executions }}</td>
                                                <td>{{ object.execution_time }}</td>
                                                
                                            <td>
                                                <a href="/referencefunction/{{ object.id }}/reset">Reset</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          <!-- /.box-body -->
          </div>            
        </div> <!-- /col-md-12 -->
    </div> <!-- /row -->    
              
    
    
    
    <div class="row">
        <div class="col-md-12"> 
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Population Stats</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="populationsFitness"></canvas>
                <script>
                        var ctx = document.getElementById('populationsFitness').getContext('2d');
                        var labels = []
                        var fitnessdata = []
                        {% for object in problem.populations.all %} 
                            labels.push("{{ object.id}}");
                            fitnessdata.push({% if object.best_fitness != None %}{{ object.best_fitness}}{% else %}undefined{% endif %});
                        {% endfor %}
                        
                        var chart = new Chart(ctx, {
                            // The type of chart we want to create
                            type: 'line',

                            // The data for our dataset
                            data: {
                                //labels: ["January", "February", "March", "April", "May", "June", "July"],
                                labels: labels.reverse(),
                                datasets: [{
                                    label: "Max Population Fitness",
                                    backgroundColor: 'rgb(255, 99, 132)',
                                    borderColor: 'rgb(255, 99, 132)',
                                    //data: [0, 10, 5, 2, 20, 30, 45 , ],
                                    data: fitnessdata.reverse(),
                                    fill : false,
                                }]
                            },

                            // Configuration options go here
                            options: {
                                
                            }
                        });
                </script>
              </div> &
            <!-- /.box-body -->
          </div>
        </div>
        </div> <!-- /col-md-12 -->
    </div> <!-- /row -->    
              

    
    
    
    <div class="row">
        <div class="col-md-12"> 
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{problem.populations.count}} Populations <a href="/problem/{{ problem.id }}/cleanup">Cleanup</a></h3>
                </div>
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Id</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Max Pop. Size</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Max Gens.</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Max Inds.</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Min code length</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Max code length</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Evolved Max code length</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Max Steps</th>
                                            
                                            
                                            
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Population Size</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Generations created</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Individuals created</th>
                                            
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Best Fitness</th>                                            
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Avg Fitness</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Avg Program Steps</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Avg Memory Usage</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Avg Inputbuffer usage</th>
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Avg Execution time</th>
                                            
                                            <th class="sorting" tabindex="0" rowspan="1" colspan="1"> Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for object in problem.populations.all %}
                                            <tr>
                                                <td><a href="/population/{{ object.id }}">{{ object.id }}</a></td>
                                            
                                                <td>{{ object.max_populationsize }}</td>
                                                <td>{{ object.max_generations }}</td>
                                                <td>{{ object.max_individuals }}</td>
                                                <td>{{ object.min_code_length }}</td>
                                                <td>{{ object.max_code_length }}</td>
                                                <td>{{ object.evolved_max_code_length }}</td>
                                                <td>{{ object.max_steps }}</td>
                                                
                                                <td>{{ object.individuals.count }}</td>
                                                <td>{{ object.generation_count }}</td>
                                                <td>{{ object.individual_count }}</td>
                                                
                                                <td>{{ object.best_fitness }}</td>
                                                <td>{{ object.average_fitness }}</td>
                                                <td>{{ object.average_program_steps }}</td>
                                                <td>{{ object.average_memory_usage }}</td>
                                                <td>{{ object.average_inputbuffer_usage }}</td>
                                                <td>{{ object.average_execution_time }}</td>
                                                
                                                <td>
                                                    <a href="/population/{{ object.id }}/delete">Delete</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>           
        </div> <!-- /col-md-12 -->
    </div> <!-- /row -->
    
  
{% endblock %}